<!doctype html>
<html>
    <head>
        <title>Email test</title>
    </head>
    <body>
        <div id="preview_text" style="display:none!important"></div>
        <p>Hello,</p>
        <p>
            If you received this email, it means the test of the outbound email
            profile <pre>{$ProfileKey$}</pre> was successful!</p>
    </body>
</html>
<plaintext>
Hello,

If you received this email, it means the test of the outbound email profile "{$ProfileKey$}"" was successful!
</plaintext>