{#parent}
    {#arg Input}
        <label for="{$IdPrefix$}_{$Name$}">{$Label$}</label>
        {#view Pivel\Hydro2\Views\Components\Form\FormInputGroup}
            {#arg Inputs[]}
                <input name="{$Name$}" type="password" id="{$IdPrefix$}_{$Name$}" autocomplete="{$AutoComplete$}" title="{$Title$}" placeholder="{$Placeholder$}" />
            {#}
            {#arg Inputs[]}
                <button type="button" id="{$IdPrefix$}_{$Name$}_visibletoggle" title="Show Password">Show</button>
            {#}
        {#}
    {#}
{#}