{#parent}
    {#arg Content}
        <h2>Outbound Email Profiles</h2>
        {#view Pivel\Hydro2\Views\Components\SortableTable(Id:"email_profiles_table")}
            {#arg Headers[]}<th class="sortable" data-property="key">Key</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="label">Name</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="type">Type</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="sender">Sender Name</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="host">Host</th>{#}
        {#}
        <script>
            var email_profiles_table = new SortableTable("#email_profiles_table", "/api/hydro2/email/outboundprofiles");
        </script>
    {#}
{#}