<div id="{$Id$}" class="logincard">
    <div id="{$Id$}_multipagecard" class="card multipage">
        <div id="login" class="card-page hide-left active">
            <h2>Login</h2>
            {#view Pivel\Hydro2\Views\Components\Form\Form($LoginFormId)}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\LabelledFormField(
                        Name:"email", Type:"email", IdPrefix:$LoginFormId, Label:"Email Address", AutoComplete:"email")#}
                {#}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\LabelledFormPasswordField(
                        Name:"password", IdPrefix:$LoginFormId, Label:"Password", AutoComplete:"current-password")#}
                {#}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\FormSubmitField(IdPrefix:$LoginFormId, Content:"Log In")#}
                {#}
            {#}
            <p><a href="#" data-multipagecardtarget="resetpassword">Forgot password?</a></p>
        </div>
        <div id="alreadyloggedin" class="card-page">
            <h2>Already logged in</h2>
            <p>
                You are already logged in.
            </p>
        </div>
        <div id="changepassword" class="card-page">
            <h2>Password change required</h2>
            <p>Your password has expired. Create a new password below.</p>
            {#view Pivel\Hydro2\Views\Components\Form\Form($ChangePasswordFormId)}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\LabelledFormPasswordField(
                        Name:"current-password", IdPrefix:$ChangePasswordFormId, Label:"Current Password", AutoComplete:"current-password")#}
                {#}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\LabelledFormPasswordField(
                        Name:"new-password", IdPrefix:$ChangePasswordFormId, Label:"New Password", AutoComplete:"new-password")#}
                {#}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\FormSubmitField(IdPrefix:$ChangePasswordFormId, Content:"Change Password")#}
                {#}
            {#}
        </div>
        <div id="changepasswordsuccess" class="card-page">
            <h2>Password changed</h2>
            <p>
                You are now logged in.
            </p>
        </div>
        <div id="mfachallenge" class="card-page">
            <h2>Verification</h2>
            <p>Not implemented yet.</p>
        </div>
        <div id="resetpassword" class="card-page">
            <h2>Password reset</h2>
            <p>Enter your email address below to send a link to reset your password.</p>
            {#view Pivel\Hydro2\Views\Components\Form\Form($ResetPasswordFormId)}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\LabelledFormField(
                        Name:"email", Type:"email", IdPrefix:$ResetPasswordFormId, Label:"Email Address", AutoComplete:"email")#}
                {#}
                {#arg Fields[]}
                    {#view Pivel\Hydro2\Views\Components\Form\FormSubmitField(IdPrefix:$ResetPasswordFormId, Content:"Send Reset Link")#}
                {#}
            {#}
            <p><a href="#" data-multipagecardtarget="login">Go back</a></p>
        </div>
        <div id="resetlinksent" class="card-page">
            <h2>Password reset link sent</h2>
            <p>
                A password reset link has been sent to the provided email address. Please check your email and follow the
                instructions to finish resetting your password.
            </p>
            <p><a href="#" data-multipagecardtarget="login">Return to login</a></p>
        </div>
    </div>
</div>