<div id="{$Id$}" class="resetpasswordcard">
    <div id="{$Id$}_multipagecard" class="card multipage">
        <div id="resetpassword" class="card-page hide-left active">
            <h2>{$Heading}Reset Password{$}</h2>
            <p>{$Text}Please create a new password below.{$}</p>
            {#if $ShowPasswordForm}
                {#view Pivel\Hydro2\Views\Components\Form\Form($ResetPasswordFormId)}
                    {#arg Fields[]}
                        {#view Pivel\Hydro2\Views\Components\Form\FormField(
                            Name:"userid", Type:"hidden", IdPrefix:$ResetPasswordFormId, Value:$UserId)#}
                    {#}
                    {#arg Fields[]}
                        {#view Pivel\Hydro2\Views\Components\Form\FormField(
                            Name:"resettoken", Type:"hidden", IdPrefix:$ResetPasswordFormId, Value:$ResetToken)#}
                    {#}
                    {#arg Fields[]}
                        {#view Pivel\Hydro2\Views\Components\Form\LabelledFormPasswordField(
                            Name:"new-password", IdPrefix:$ResetPasswordFormId, Label:"New Password", AutoComplete:"new-password")#}
                    {#}
                    {#arg Fields[]}
                        {#view Pivel\Hydro2\Views\Components\Form\FormSubmitField(IdPrefix:$ResetPasswordFormId, Content:"Set Password")#}
                    {#}
                {#}
            {#}
            <p><a href="/login">Return to login</a></p>
        </div>
        {#if $ShowPasswordForm}
            <div id="resetpasswordsuccess" class="card-page">
                <h2>Password changed</h2>
                <p>Your new password has been set.</p>
                <p><a href="/login">Return to login</a></p>
            </div>
        {#}
    </div>
</div>