{#parent}
    {#arg Head}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Email Verification</title>
        <style>
            .logincard-backdrop {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #eeffff;
            }
        </style>
    {#}
    {#arg Body}
        <div>
            <div>
                <div class="logincard-backdrop"></div>
                {#view Package\Pivel\Hydro2\Views\Components\Identity\ResetPasswordCard(Id:"setpasswordcard_id",
                    ShowPasswordForm:$IsPasswordChangeRequired,ResetToken:$PasswordResetToken,UserId:$UserId)}
                    {#arg Heading}
                        {#if $IsValid}Email Verified{#}
                        {#else}Verification Link Invalid{#}
                    {#}
                    {#arg Text}
                        {#if $IsValid}
                            Your email address is now verified.
                            {#if $IsPasswordChangeRequired}
                                Please create a new password below.
                            {#}
                        {#}
                        {#else}This link is either invalid or has already been used.{#}
                    {#}
                {#}
            </div>
        </div>
        {#if $IsPasswordChangeRequired}
            <script>
                var rc = new ResetPasswordCard("#setpasswordcard_id");
            </script>
        {#}
    {#}
{#}