.sortable-table > table th.sortable:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.sortable-table > table th.sortable.sorted::after {
    content: "";
    height: 4px;
    display: inline-block;
    margin-left: 0.25rem;
    position: relative;
}

.sortable-table > table th.sortable.sorted.asc::after {
    /*^*/
    border-bottom: 4px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    top: -4px;
}

.sortable-table > table th.sortable.sorted.desc::after {
    /*v*/
    border-top: 4px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    top: 4px
}

.sortable-table > table td.placeholder {
    text-align: center;
}

.sortable-table {
    position: relative;
}

.sortable-table > .spinner-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sortable-table.loading > .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffbb;
}