<div class="modal-body">
    <h4>Your Profile</h4>
    <form onsubmit="dialog_account_save();return false;">
        <div class="form-group row">
            <label class="col-form-label col-sm-3 col-md-2" for="dialog_account_name">Name</label>
            <div class="col-sm-9 col-md-10">
                <input name="name" title="Name" class="form-control" id="dialog_account_name" type="text" placeholder="Name" value="{name}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 offset-md-2 col-sm-9 col-md-10">
                <div class="form-check form-check-inline mb-2 mt-2">
                    <input class="form-check-input" type="checkbox" id="dialog_account_notify" value=""{notifyChecked}>
                    <label class="form-check-label" for="dialog_account_notify">I want to receive notifications via email</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 offset-md-2 col-sm-9 col-md-10">
                <button class="btn btn-primary" type="submit">Save</button>
                <span class="dialog_account_formfeedback_saved" style="display:none;">Saved!</span>
                <span class="dialog_account_formfeedback_notsaved" style="display:none;">Couldn\'t save! Check your connection.</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 col-md-2" for="dialog_account_email">Email</label>
            <div class="col-sm-9 col-md-10">
                <p class="form-control-plaintext" id="dialog_account_email">{email}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 col-md-2" for="dialog_account_regdate">Registered on</label>
            <div class="col-sm-9 col-md-10">
                <p class="form-control-plaintext" id="dialog_account_regdate">{registerdate}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 col-md-2" for="dialog_account_perms">Permissions</label>
            <div class="col-sm-9 col-md-10">
                <p class="form-control-plaintext" id="dialog_account_perms">{permissions}</p>
            </div>
        </div>
        <script>
function dialog_account_save() {
    module_ajax("user/edit", {name: $("#dialog_account_name").val(), notify: $("#dialog_account_notify")[0].checked ? 1 : 0}, function (data) {
        if (data == "TRUE") {
            $(".dialog_account_formfeedback_saved").removeClass("hidden");
            setTimeout(function(){$(".dialog_account_formfeedback_saved").addClass("hidden");window.location.reload(true);}, 800);
        } else {
            $(".dialog_account_formfeedback_notsaved").removeClass("hidden");
            setTimeout(function(){$(".dialog_account_formfeedback_notsaved").addClass("hidden");}, 800);
        }
    });
}
        </script>
    </form>
    <h4>Change your Password</h4>
    <form role="edit" onsubmit="dialog_account_changepass();return false;">
        <input autocomplete="username" style="display:none;" id="dialog_account_user" type="text" value="'. User::$currentUser->email .'" />
        <div class="form-group row">
            <label class="col-form-label col-sm-3 col-md-2" for="dialog_account_cpwd">Current Password</label>
            <div class="input-group col-sm-9 col-md-10">
                <input type="password" id="dialog_account_cpwd" autocomplete="current-password" class="form-control border-right-0 border-secondary" title="Password" placeholder="Current Password" oninput="dialog_account_check_cpwd();">
                <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-left-0 border-secondary">
                        <i class="fas fa-times" style="display:none;"></i>
                        <i class="fas fa-check" style="display:none;"></i>
                    </div>
                </div>
                <script>
function dialog_account_check_cpwd() {
    module_ajax("checkpass", {password: $("#dialog_account_cpwd").val()}, function(data) {
        if (data == "TRUE") {
            $("#dialog_account_cpwd").parent().removeClass("has-error");
            $("#dialog_account_cpwd").parent().addClass("has-success");
            $("#dialog_account_cpwd").parent().find(".fa-times").hide();
            $("#dialog_account_cpwd").parent().find(".fa-check").show();
        } else {
            $("#dialog_account_cpwd").parent().removeClass("has-success");
            $("#dialog_account_cpwd").parent().addClass("has-error");
            $("#dialog_account_cpwd").parent().find(".fa-check").hide();
            $("#dialog_account_cpwd").parent().find(".fa-times").show();
        }
    });
}
                </script>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 col-md-2" for="dialog_account_npwd">New Password</label>
            <div class="col-sm-9 col-md-10">
                <div class="input-group mb-3">
                    <input name="npwd" title="New Password" autocomplete="new-password" class="form-control border-secondary" id="dialog_account_npwd" type="password" placeholder="New Password" oninput="dialog_account_check_npwd();" />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="dialog_account_toggleshownpwd();"><i id="dialog_account_toggleshownpwd_symbol" class="fas fa-eye"></i></button>
                    </span>
                </div>
                <span class="dialog_account_formfeedback_badnpwd" style="display:none;">Your password must contain at least 8 characters.</span>
                <script>
function dialog_account_check_npwd() {
    var npwd = $("#dialog_account_npwd").val();
    var conditions = npwd.length >= 8 ? true : false;
    if (conditions) {
        $("#dialog_account_npwd").parent().removeClass("has-error");
        $("#dialog_account_npwd").parent().addClass("has-success");
        $(".dialog_account_formfeedback_badnpwd").hide();
    } else {
        $("#dialog_account_npwd").parent().removeClass("has-success");
        $("#dialog_account_npwd").parent().addClass("has-error");
        $(".dialog_account_formfeedback_badnpwd ").show();
    }
}

function dialog_account_toggleshownpwd() {
    if ($("#dialog_account_npwd").attr("type") == "password") {
        $("#dialog_account_npwd").attr("type", "text");
        $("#dialog_account_toggleshownpwd_symbol").removeClass("fa-eye");
        $("#dialog_account_toggleshownpwd_symbol").addClass("fa-eye-slash");
    } else {
        $("#dialog_account_npwd").attr("type", "password");
        $("#dialog_account_toggleshownpwd_symbol").removeClass("fa-eye-slash");
        $("#dialog_account_toggleshownpwd_symbol").addClass("fa-eye");
    }
}
                </script>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 offset-md-2 col-sm-9 col-md-10">
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </div>
        <script>
function dialog_account_changepass() {
    var npwd = $("#dialog_account_npwd").val();
    var conditions = npwd.length >= 8;
    if (conditions) {
        module_ajax("user/password/edit", {cpwd: $("#dialog_account_cpwd").val(), npwd: $("#dialog_account_npwd").val()}, function (data) {
            if (data == "TRUE") {
                $("#dialog_account_cpwd").val("");
                $("#dialog_account_npwd").val("");
                $("#dialog_account_cpwd").parent().removeClass("has-success");
                $("#dialog_account_cpwd").parent().find(".glyphicon-ok").addClass("hidden");
                $("#dialog_account_npwd").parent().removeClass("has-success");
                window.alert("Password changed!");
            } else {
                window.alert("Couldn\'t change password.");
            }
        });
        $(".dialog_account_formfeedback_badnpwd").hide();
    } else {
        $(".dialog_account_formfeedback_badnpwd ").show();
    }
}
        </script>
    </form>
    <h4>Delete your Account</h4>
    <div class="row">
        <div class="offset-sm-3 offset-md-2 col-sm-9 col-md-10">
            <button class="btn btn-danger" onclick="dialog_account_delete('{uid}');">Delete Account</button>
            <script>
function dialog_account_delete(uid) {
    if (window.confirm("Are you sure you want to remove your account?", "Yes", "No")) {
        module_ajax("user/remove", {uid: uid}, function (data) {
            if (data == "TRUE") {
                window.alert("Account removed.");
                logout();
            } else if (data == "OWNER") {
                window.alert("You can\'t remove your own account if you\'re the only owner of this site!");
            } else {
                window.alert("Account couldn\'t be removed.");
            }
        });
    }
}
            </script>
        </div>
    </div>
</div>
<script>
$(document).keydown(function(event) {
    if (event.ctrlKey || event.metaKey) {
        switch (String.fromCharCode(event.which).toLowerCase()) {
        case "a":
            if (!$("#dialog_account").is(":visible")) {
                event.preventDefault();
                showDialog("account");
                break;
            }
        }
    }
});
</script>