<form role="edit" onsubmit="dialog_admin_users_new();return false;">
    <div class="form-group row">
        <label class="col-form-label col-sm-3 col-md-2" for="dialog_admin_users_newemail">Email</label>
        <div class="input-group col-sm-9 col-md-10">
            <input type="text" id="dialog_admin_users_newemail" class="form-control border-right-0 border-secondary" title="Email" placeholder="Email" oninput="dialog_admin_users_check_email();">
            <div class="input-group-append">
                <div class="input-group-text bg-transparent border-left-0 border-secondary">
                    <i class="fas fa-times" style="display:none;"></i>
                    <i class="fas fa-check" style="display:none;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-3 col-md-2" for="username">Name</label>
        <div class="col-sm-9 col-md-10">
            <input type="text" id="dialog_admin_users_newname" name="name" class="form-control border-secondary" title="Name" placeholder="Name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-3 col-md-2">Permissions</label>
        <div class="col-sm-9 col-md-10">
            <div class="row m-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_owner" value="">
                    <label class="form-check-label">Owner</label>
                </div>
            </div>
            <div class="row m-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_admin_managepages">
                    <label class="form-check-label">Manage Pages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_admin_managesite">
                    <label class="form-check-label">Manage Site</label>
                </div>
            </div>
            <div class="row m-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_viewsecure">
                    <label class="form-check-label">View Secure Pages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_editsecure">
                    <label class="form-check-label">Edit Secure Pages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_createsecure">
                    <label class="form-check-label">Create Secure Pages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_deletesecure">
                    <label class="form-check-label">Delete Secure Pages</label>
                </div>
            </div>
            <div class="row m-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_edit">
                    <label class="form-check-label">Edit Pages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_create">
                    <label class="form-check-label">Create Pages</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_page_delete">
                    <label class="form-check-label">Delete Pages</label>
                </div>
            </div>
            <div class="row m-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dialog_admin_users_permission_toolbar">
                    <label class="form-check-label">View Toolbar</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-3 offset-md-2 col-md-10 col-sm-9">
            <input type="submit" class="btn btn-primary" title="Create" value="Create">
            <span class="dialog_admin_users_formfeedback_added" style="display:none;">User Created!</span>
            <span class="dialog_admin_users_formfeedback_notadded" style="display:none;">There was an error. Check your connection.</span>
        </div>
    </div>
</form>
<hr width="90%" />
<h4>Current Users</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr><th>Name</th><th>Email</th><th>Permissions</th><th>Registered On</th><th>Tools</th></tr>
        </thead>
        <tbody>{userlist}</tbody>
    </table>
</div>
<script>
function dialog_admin_users_check_email() {
    module_ajax("checkuser", {email: $("#dialog_admin_users_newemail").val()}, function (data) {
        if (data == "TRUE") {
            $("#dialog_admin_users_newemail").parent().removeClass("has-success");
            $("#dialog_admin_users_newemail").parent().addClass("has-error");
            $("#dialog_admin_users_newemail").parent().find(".fa-check").hide();
            $("#dialog_users_newemail").parent().find(".fa-times").show();
        } else {
            $("#dialog_admin_users_newemail").parent().removeClass("has-error");
            $("#dialog_admin_users_newemail").parent().addClass("has-success");
            $("#dialog_admin_users_newemail").parent().find(".fa-times").hide();
            $("#dialog_admin_users_newemail").parent().find(".fa-check").show();
        }
    });
}

function dialog_admin_users_new() {
    permissions = "";
    permissions += $("#dialog_admin_users_permission_owner").prop("checked") ? "owner;" : "";
    permissions += $("#dialog_admin_users_permission_admin_managepages").prop("checked") ? "admin_managepages;" : "";
    permissions += $("#dialog_admin_users_permission_admin_managesite").prop("checked") ? "admin_managesite;" : "";
    permissions += $("#dialog_admin_users_permission_page_viewsecure").prop("checked") ? "page_viewsecure;" : "";
    permissions += $("#dialog_admin_users_permission_page_editsecure").prop("checked") ? "page_editsecure;" : "";
    permissions += $("#dialog_admin_users_permission_page_createsecure").prop("checked") ? "page_createsecure;" : "";
    permissions += $("#dialog_admin_users_permission_page_deletesecure").prop("checked") ? "page_deletesecure;" : "";
    permissions += $("#dialog_admin_users_permission_page_edit").prop("checked") ? "page_edit;" : "";
    permissions += $("#dialog_admin_users_permission_page_create").prop("checked") ? "page_create;" : "";
    permissions += $("#dialog_admin_users_permission_page_delete").prop("checked") ? "page_delete;" : "";
    permissions += $("#dialog_admin_users_permission_toolbar").prop("checked") ? "toolbar;" : "";
    module_ajax("user/new", {email: $("#dialog_admin_users_newemail").val(),
                            name: $("#dialog_admin_users_newname").val(),
                            permissions: permissions}, function (data) {
        if (data != "TRUE") {
            if (data.startsWith("Failed: ")) {
                alert("Server says:\n"+data);
                return;
            }
            window.alert("Couldn\'t create account. Is "+$("#dialog_admin_users_newemail").val()+" already in use?");
            return;
        }
        window.alert("Created account with email \""+$("#dialog_admin_users_newemail").val()+"\" and password \"password\".");
        window.location.reload(true);
    });
}

function dialog_admin_users_update(uid) {
    module_ajax("user/edit", {permissions: $("#dialog_admin_users_"+uid+"_perms_p").val(),
                             permviewbl: $("#dialog_admin_users_"+uid+"_perms_v").val(),
                             permeditbl: $("#dialog_admin_users_"+uid+"_perms_e").val(),
                             uid: uid,
                             token: Cookies.get("token")}, function (data){
        if (data == "TRUE") {
            window.alert("Account updated.");
        } else {
            window.alert("Couldn\'t update this account.");
        }
    });

}

function dialog_admin_users_delete(uid) {
    if (window.confirm("Are you sure you want to remove this account?", "Yes", "No")) {
        module_ajax("user/remove", {uid: uid}, function (data) {
            if (data == "TRUE") {
                window.alert("Account removed.");
                window.location.reload(true);
            } else if (data == "OWNER") {
                window.alert("You can\'t remove your own account if you\'re the only owner of this site!");
            } else {
                window.alert("Account couldn\'t be removed.");
            }
        });
    }

}

function dialog_admin_users_reset(uid) {
    module_ajax("user/password/reset", {uid: uid}, function (data) {
        if (data == "TRUE") {
            window.alert("Password reset to \"password\".");
        } else {
            window.alert("Something went wrong trying to reset a password.");
        }
    });
}
</script>