{#parent}
    {#arg Head}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Email Verification</title>
        <!--
        <style>
            .logincard-backdrop {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #eeffff;
            }
        </style>
        -->
    {#}
    {#arg Body}
        {$Text$}
        <!--
        <div>
            <div>
                <div class="logincard-backdrop"></div>
                { #view Package\Pivel\Hydro2\Identity\Views\Components\LoginCard(Id:"logincard_id")#}
            </div>
        </div>
        <script>
            var lc = new LoginCard("#logincard_id");
        </script>
        -->
    {#}
{#}