<!doctype html>
<html>
    <head>
        <title>Your email address has been updated</title>
    </head>
    <body>
        <div id="preview_text" style="display:none!important"></div>
        <p>Hi {{$Name}},</p>
        <p>Your email address has been changed from {{$OldEmail}} to {{$NewEmail}}.</p>
        <p>A verification email has been sent to {{$NewEmail}}, which must be completed before you will be able to sign in using your new email address.</p>
    </body>
</html>
<plaintext>
Hi {{$Name}},

Your email address has been changed from {{$OldEmail}} to {{$NewEmail}}.

A verification email has been sent to {{$NewEmail}}, which must be completed before you will be able to sign in using your new email address.
</plaintext>