<!doctype html>
<html>
    <head>
        <title>Please verify your email address</title>
    </head>
    <body>
        <div id="preview_text" style="display:none!important"></div>
        <p>Hi {{$Name}},</p>
        <p>Please verify your email address.</p>
        {{Package\Pivel\Hydro2\Email\Views\EmailComponents\ButtonLink|"Verify",$VerifyUrl}}
        <p>Alternatively, you can copy the following link into your browser: <a href="{{$VerifyUrl}}">{{$VerifyUrl}}</a></p>
    </body>
</html>
<plaintext>
Hi {{$Name}},

Please verify your email address. Copy the following link into your browser:
{{$VerifyUrl}}
</plaintext>