<!doctype html>
<html>
    <head>
        <title>Finish resetting your password</title>
    </head>
    <body>
        <div id="preview_text" style="display:none!important"></div>
        <p>Hi {{$Name}},</p>
        <p>Click the button below to finish resetting your password.</p>
        {{Package\Pivel\Hydro2\Email\Views\EmailComponents\ButtonLink|"Reset Password",$ResetUrl}}
        <p>Alternatively, you can copy the following link into your browser: <a href="{{$ResetUrl}}">{{$ResetUrl}}</a></p>
        <p>This link will be valid for {{$ValidForString}}.</p>
    </body>
</html>
<plaintext>
Hi {{$Name}},

To finish resetting your password, visit the following link in your browser:

{{$ResetUrl}}

This link will be valid for {{$ValidForString}}.
</plaintext>