{#parent}
    {#arg Content}
        <h2>Database Connections</h2>
        {#view Package\Pivel\Hydro2\Database\Views\AdminPanels\SortableTable(Id:"db_connections_table")}
            {#arg Headers[]}<th class="sortable" data-property="key">Name</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="driver">Driver</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="host">Host/Path</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="username">Username</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="database">Schema Name</th>{#}
        {#}
        <script>
            var db_connections_table = new SortableTable("#db_connections_table", "/api/hydro2/database/profiles", "databaseprofiles");
        </script>
    {#}
{#}