{#parent}
    {#arg Content}
        <h2>Users</h2>
        {#view Package\Pivel\Hydro2\Views\Components\SortableTable(Id:"users_table")}
            {#arg Headers[]}<th class="sortable" data-property="email">Email</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="name">Name</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="role">Role</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="created">Created</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="email_verified">Email Verified</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="needs_review">Needs Review</th>{#}
            {#arg Headers[]}<th class="sortable" data-property="enabled">Enabled</th>{#}
        {#}
        <script>
            var users_table_renderer = function(table) {
                var tbodyHtml = "";
                // for each row in this._data:
                for (var row of table._data) {
                    // add <tr>
                    tbodyHtml += "<tr>";
                    // for each property in this._columns:
                    for (var property of table._columns) {
                        // add <td>row[property]</td> to tbodyHtml
                        if (property == 'role') {
                            var value = row['role']['name'];
                        } else if (property == 'created') {
                            var value = new Date(""+row['created']['date']+row['created']['timezone']).toLocaleString([],{"dateStyle":"long","timeStyle":"short","hour12":false});
                        } else {
                            var value = row[property];
                        }

                        if (value === true) {
                            value = "Yes";
                        }
                        if (value === false) {
                            value = "No";
                        }
                        if (value === null) {
                            value = "N/A";
                        }
                        tbodyHtml += "<td>" + H.HtmlEncode(value) + "</td>";
                    }
                    // add </tr>
                    tbodyHtml += "</tr>";
                }
                table._e.Nodes("tbody").HTML(tbodyHtml);
            }

            var users_table = new SortableTable("#users_table", "/api/hydro2/identity/users", "users", users_table_renderer);
        </script>
    {#}
{#}