{#parent}
    {#arg Head}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Admin Panel</title>
        <style>
            body {
                margin: 0;
            }

            .master-detail {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
            }

            .page {
                display: none;
            }

            .page.active {
                display: block;
            }

            .master-nav>nav ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            nav a {
                color: white;
                text-decoration: none;
                width: 100%;
                display: inline-block;
                padding: 0.3rem 0.5rem;
                overflow: hidden;
            }

            nav a.active {
                border-right: 0.25rem solid #ffffff;
            }

            li.expandable>a::after {
                display: inline-block;
                margin-left: 0.5rem;
                content: "";
                border-left: 2px solid white;
                width: 6px;
                height: 6px;
                border-bottom: 2px solid white;
                transform: translateY(-3px) rotate(45deg);
                vertical-align: middle;
                transition: transform 0.5s;
            }

            li.expandable.expanded>a::after {
                transform: translateY(-3px) rotate(-45deg);
            }

            li.expandable>ul {
                padding-left: 1rem;
                height: 0;
                overflow: hidden;
                transition: height 0.5s;
            }

            li.expandable.expanded>ul {
                height: auto;
            }

            nav a:hover {
                background-color: #2f2f2f;
            }

            nav>h1 {
                margin-top: 0;
            }

            nav {
                padding: 0.5rem;
                overflow-x: hidden;
            }

            .collapsible-left>.collapse-control {
                position: absolute;
                top: 0;
                left: 100%;
                width: 2.5rem;
                height: 2.5rem;
                background: #222222cc;
                border: none;
                cursor: pointer;
                color: white;
            }

            .collapsible-left {
                transition: width 0.5s;
            }

            .collapsible-left.collapsed {
                width: 0;
            }

            .master-nav {
                position: relative;
                height: 100%;
                width: 250px;
                background-color: #222222;
                color: white;
                flex-shrink: 0;
                flex-grow: 0;
            }

            .master-content {
                width: 100%;
                overflow-x: hidden;
            }
        </style>
    {#}
    {#arg Body}
        <div id="adminpanel" class="master-detail">
            <div class="master-nav collapsible-left">
                <button class="collapse-control" type="button" title="Show/hide navigation">S/H</button>
                <nav>
                    <h1>Hydro2</h1>
                    <ul>
                        <li class="expandable">
                            <a href="#" data-masterdetailtarget="hydro2">Hydro2</a>
                            <ul>
                                <li class="expandable">
                                    <a href="#" data-masterdetailtarget="hydro2/config">Configuration</a>
                                    <ul>
                                        <li><a href="#" data-masterdetailtarget="hydro2/config/dbconnect">Database Connections</a></li>
                                        <li><a href="#" data-masterdetailtarget="hydro2/config/dbbrowse">Database Browser</a></li>
                                        <li><a href="#" data-masterdetailtarget="hydro2/config/email">Outbound Email Profiles</a></li>
                                    </ul>
                                </li>
                                <li class="expandable">
                                    <a href="#" data-masterdetailtarget="hydro2/identity">Users &amp; Security</a>
                                    <ul>
                                        <li><a href="#" data-masterdetailtarget="hydro2/identity/roles">User Roles</a></li>
                                        <li><a href="#" data-masterdetailtarget="hydro2/identity/users">Users</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" data-masterdetailtarget="facade">Facade</a></li>
                    </ul>
                </nav>
            </div>
            <div class="master-content">
                <div class="page active" data-page="hydro2">
                    \\Package\\Pivel\\Hydro2\\Core\\Views\\AdminPanels\\About
                </div>
                <div class="page" data-page="hydro2/config/dbconnect">
                    \\Package\\Pivel\\Hydro2\\Database\\Views\\AdminPanels\\ConnectionProfiles; Requires pivel/hydro2/managedatabaseconnections
                </div>
                <div class="page" data-page="hydro2/config/dbbrowse">
                    \\Package\\Pivel\\Hydro2\\Database\\Views\\AdminPanels\\DatabaseBrowser; Requires pivel/hydro2/browsedatabases
                </div>
                <div class="page" data-page="hydro2/config/email">
                    \\Package\\Pivel\\Hydro2\\Email\\Views\\AdminPanels\\OutboundProfiles; Requires pivel/hydro2/manageoutboundemailprofiles
                </div>
                <div class="page" data-page="hydro2/identity/roles">
                    \\Package\\Pivel\\Hydro2\\Identity\\Views\\AdminPanels\\UserRoles; Requires pivel/hydro2/createuserroles or pivel/hydro2/manageuserroles
                </div>
                <div class="page" data-page="hydro2/identity/users">
                    \\Package\\Pivel\\Hydro2\\Identity\\Views\\AdminPanels\\Users; Requires pivel/hydro2/viewusers
                </div>
            </div>
        </div>
        <script>
            class MasterDetail {
                _e;
                _pages = [];
                _pageKeys = [];
                _activePageKey = null;
                _pageTriggerNodes = [];
                _nav = null;
                constructor(selector) {
                    this._e = H.Nodes(selector);

                    this._nav = this._e.Nodes(".master-nav");
                    this._e.Nodes(".master-nav>.collapse-control").AddEventHandler("click", this._toggleNavCollapse.bind(this));
                    this._e.Nodes(".expandable>a").AddEventHandler("click", this._toggleNavSectionCollapse.bind(this));

                    // find elements with data-masterdetailtarget set. Add onclick event handlers
                    this._pageTriggerNodes = this._e.Nodes("[data-masterdetailtarget]");
                    this._pageTriggerNodes.AddEventHandler("click", this._multiPageNavEventHandler.bind(this));
                    // find elements with data-page
                    // First element with .active is the active page
                    this._pages = this._e.Nodes("[data-page]");
                    this._pageKeys = this._pages.Data("page");

                    this._pages._nodeList.forEach(element => {
                        if (H.Nodes(element).HasClass("active") && this._activePageKey == null) {
                            this._activePageKey = H.Nodes(element).Data("page");
                        }
                    });
                    if (this._activePageKey == null) {
                        this._activePageKey = this._pageKeys[0];
                    }

                    window.addEventListener("popstate", this._historyPopState.bind(this));
                }

                _toggleNavCollapse(event) {
                    // if parent.HasClass("collapsed") remove it, and vice-versa
                    if (this._nav.HasClass("collapsed")) {
                        this._nav.RemoveClass("collapsed");
                    } else {
                        this._nav.AddClass("collapsed");
                    }
                }

                _toggleNavSectionCollapse(event) {
                    // if parent.HasClass("expanded") remove it, and vice-versa
                    // if becoming expanded, calculate the height of parent>ul scrollHeight when expanded, set style.height, unset after delay
                    //  else, unset style.height
                    event.preventDefault();
                    var li = H.Nodes(event.target).Parent();
                    var ul = H.Nodes(li.Nodes("ul")._nodeList[0]);
                    var height = ul._nodeList[0].scrollHeight;
                    if (li.HasClass("expanded")) {
                        ul._nodeList[0].style.height = ""+height+"px";
                        li.RemoveClass("expanded");
                        setTimeout(function(){
                            ul._nodeList[0].style.height = "";
                        },10);
                    } else {
                        li.AddClass("expanded");
                        ul._nodeList[0].style.height = ""+height+"px";
                        setTimeout(function(){
                            ul._nodeList[0].style.height = "";
                        },500);
                    }
                }

                _multiPageNavEventHandler(event) {
                    event.preventDefault();
                    var trigger = H.Nodes(event.target);
                    var target = trigger.Data("masterdetailtarget");
                    this.NavigateTo(target);
                }

                _historyPopState(event) {
                    if (event.state == null) {
                        return;
                    }
                    this.NavigateTo(event.state["key"]);
                }

                NavigateTo(pageKey) {
                    // check that target key exists
                    if (!this._pageKeys.includes(pageKey)) {
                        return;
                    }
                    // removeclass("active") from currently-active page
                    this._pages.RemoveClass("active");
                    // addClass("active") to newly-active page
                    this._e.Nodes("[data-page=\"" + pageKey + "\"]").AddClass("active");
                    // set currently-active page
                    this._activePageKey = pageKey;
                    // removeClass("active") from all trigger nodes
                    this._pageTriggerNodes.RemoveClass("active");
                    // find trigger node(s) with a matching data-masterdetailtarget and addClass("active")
                    this._e.Nodes("[data-masterdetailtarget=\"" + pageKey + "\"]").AddClass("active");
                    history.pushState({key:pageKey}, "", "/admin/"+pageKey);
                }
            }

            var adminPanel = new MasterDetail("#adminpanel");
            adminPanel.NavigateTo("hydro2")
        </script>
    {#}
{#}